body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h2 {
    color: #343a40;
}

.navbar {
    margin-bottom: 1rem;
}

.table {
    margin-top: 1rem;
}

form {
    margin-top: 2rem;
}

.logo-small {
    max-width: 200px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center horizontally */
}